body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.importante {
  background-color: yellow;
}
